node_modules
.next
out
pnpm-lock.yaml
.env.local
.env*
!.env.example
.DS_Store
playwright-report
/coverage
tsconfig.tsbuildinfo

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.vercel
